#kiwi-logo,
#page-not-found {
    text-align: center;
    padding: 2rem 0 0;
}

#logout-link {
    padding-left: 0.7rem;
}

.hidden {
    display: none;
}

#header {
    background-color: #eee;
}

#logo {
    margin: 1rem 2rem;
}

#logo img {
    max-height: 50px;
}

#main {
    background-color: #fafafa;
    min-height: 400px;
}

#top-right-panel {
    margin: 2rem;
    text-align: right;
}

#login-register,
#post-free-ad {
    display: inline-block;
    vertical-align: middle;
}

#login-register {
    padding-right: 1rem;
}

#select-category {
    margin-top: 1rem;
}

#select-category select {
    height: 40px;
    padding: 0 1.5rem 0 1rem;
    font-size: 1.6rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.07);
}

#top-container {
    background: url(../images/select-category-bg.png) 0 center repeat-x transparent;
    text-align: center;
    padding: 2rem;
}

#comments {
    background-color: #b7b7b7;
    color: #fff;
    padding: 2rem;
    max-width: 60%;
    margin: 0 auto 2rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.comment-text {
    padding-left: 2rem;
}

.single-comment {
    padding: 1rem 2rem 2rem;
}

.single-comment:nth-child(even) {
    background-color: #8f8b92;
}

.single-comment:nth-child(odd) {
    background-color: #6d6d6d;
}

#add-new-comment {
    text-align: right;
    padding: 1rem 0 0;
}

#add-new-comment-btn {
    background-color: #f8f8ff;
    color: #000;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#comments-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

#submit-comment {
    font-weight: 700;
}

#comment-text {
    color: #000;
}

#share-btn {
    text-decoration: none;
}

/*
* BEGIN JQuery UI override
* ------------------------------
*/

.ui-widget-header {
    background: #d0caca;
}

.ui-dialog .ui-dialog-content {
    background-color: #f2f2f2;
}

.ui-dialog-titlebar-close::before {
    content: "x";
    color: #000;
    position: relative;
    top: -4px;
}

/*
* END JQuery UI override
* ------------------------------
*/


/*
* BEGIN Select fix for Firefox
* ------------------------------
*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #eeeeee url("../images/select-arrow.png") no-repeat center right;
    text-indent: 0.01px;
    text-overflow: '';
}

select#user-type,
select#select-ad-type,
select#select-ad-category {
    background: url("../images/select-arrow.png") no-repeat center right !important;
}

/*
* END Select fix for Firefox
* -----------------------------
*/

#main-title {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0 3rem;
}

#category-title {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 2rem;
}

#login-form,
#register-form,
#post-ad-form {
    width: 50%;
    margin: 0 auto 3rem;
    padding: 2rem;
    background-color: #fefefe;
    border: 1px solid rgba(0,0,0,0.1);
}

#login-form label,
#register-form label,
#post-ad-form label {
    margin-bottom: 0.7rem;
}

#login-username,
#login-password {
    width: 100%;
}

#back-btn {
    display: block;
    text-align: right;
}

.ad-single {
    width: 70%;
    margin: 2rem auto 3rem;
    padding: 2rem;
    background-color: #f5f5dc;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.ad-single article {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 1px 1px 16px rgba(0,0,0,0.1);
}

.ad-single-compact {
    display: block;
    background-color: #fff;
    margin-bottom: 3rem;
    padding: 2rem;
    width: 100%;
    min-height: 200px;
    box-shadow: 1px 1px 16px rgba(0,0,0,0.1);
}

.ad-single-compact:hover {
    background-color: #faebd7;
    cursor: pointer;
}

.ad-title {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ad-description {
    padding: 1rem 0;
}

.ad-contact-phone,
.ad-contact-email {
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.ad-contact-email:before {
    content: "\f0e0";
    padding-right: 0.4rem;
}

.ad-contact-phone:before {
    content: "\f095";
    padding-right: 0.4rem;
}

#ad-single-bottom-container {
    text-align: center;
    margin-bottom: 2rem;
}

.offer-price {
    display: inline-block;
    padding: 0.2rem 1rem;
    border: 1px solid;
    border-radius: 7%;
    font-weight: 700;
}

.nav-back,
.fb-share {
    padding: 2rem;
}
.fb-share-button {
    display: inline-block;
}

footer {
    background-color: #f5f5dc;
    padding: 2rem;
}

/* 
* BEGIN Overriding Toastr styles 
* ----------------------------
*/

.toast-top-right {
   top: 80px;
   right: 12px;
}

/* 
* END Overriding Toastr styles 
* ----------------------------
*/


/* 
* BEGIN Overriding Bootstrap styles 
* ----------------------------
*/

.btn-primary {
    color: #fcfbf7;
    background-color: #d26c07;
    background-image: none;
    border-color: #b95f06;
    border-bottom: 3px solid #bb5f01;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
}

.btn-success {
    color: #fff;
    background-color: #5f9ea0;
    border-color: #6495ed;
}

.btn-success:hover,
.btn-success.focus, 
.btn-success:focus,
.btn-success.active, 
.btn-success:active,
.btn-success.active.focus, 
.btn-success.active:focus, 
.btn-success:active.focus, 
.btn-success:active:focus, 
.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success.focus, 
.open>.dropdown-toggle.btn-success:focus, 
.open>.dropdown-toggle.btn-success:hover,
.open>.dropdown-toggle.btn-success,
.open>.dropdown-toggle.btn-success
 {
    color: #fff;
    background-color: #4a8a8c;
    border-color: #3a5990;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 180px;
}

/* 
* END Overriding Bootstrap styles 
* ----------------------------
*/


/*
 * BEGIN Row with equal height columns
 * --------------------------------------------------
 */
.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.ad-single-compact {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
 * END Row with equal height columns
 * --------------------------------------------------
 */


 /* 
 * BEGIN Responsive CSS
 * --------------------------------------------
 */

@media only screen and (min-device-width: 120px) and (max-device-width: 991px) {

    #logo a img {
        text-align: center;
    }
    #top-right-panel,
    #logo {
        text-align: center;
    }
    #classifieds {
        width: 90%;
        margin: 0 auto;
    }
    .eq-height {
        display: block;
    }
}

 /* 
 * END Responsive CSS
 * --------------------------------------------
 */