<div class="container">
    <div class="col-xs-12">
        <article class="ad-single">
            <div class="ad-title" >{{result.title}}</div>
            <div class="ad-description">{{result.description}}</div>
            <div class="ad-contact-info">
                <div class="ad-contact-phone">{{result.phone}}</div>
                <div class="ad-contact-email">{{result.email}}</div>
            </div>
        </article>
        <div id="ad-single-bottom-container">  
            <a href="#" class="fb-share" >Share</a>
            <a href="#" class="nav-back" onclick="window.history.back()">Go Back</a>
        </div>
    </div>
</div>