<div class="container">
    <div id="classifieds-count">
        {{result.count}} Classifieds so far
    </div>
    <div id="select-category">
        <label for="categories">Select category</label>
        <select id="categories" name="select_category">
            <option selected value="all">All Categories</option>
            <option value="cars">Cars & Vehicles</option>
            <option value="property">Property</option>
            <option value="hobbies">Hobbies</option>
            <option value="pets">Pets & Animals</option>
            <option value="homegarden">Home & Garden</option>
            <option value="electronics">Electronics</option>
            <option value="services">Services</option>
            <option value="fashion">Fashion & Beauty</option>
            <option value="jobs">Jobs</option>
        </select>
    </div>
</div>